<div class="page__content">
  <article class="p-article">
  <header class="p-article__header">
    <div class="p-article__header-grid-head"><a class="p-article__header-title" href="/articles">Статьи&nbsp;101</a><span class="p-article__header-grid-head-delimiter"><span></span></span><a class="p-article__header-link" href="/articles?category=financial-literacy">Финансовая грамотность</a></div>
    <div class="p-article__header-grid-main">
      <h1 class="p-article__title">Как инвесторы зарабатывают на ИИС</h1>
    </div>
    <div class="p-article__header-grid-foot">
      <div class="p-article__header-grid-foot-row">
        <div class="p-article__header-grid-foot-cell p-article__header-grid-foot-cell_1"><time class="time" datetime="2020-07-02T14:39:00+03:00">2 июля 2020</time></div>
        <div class="p-article__header-grid-foot-cell p-article__header-grid-foot-cell_2"></div>
      </div>
    </div>
    <div class="p-article__image-box"><img alt="Как инвесторы зарабатывают на ИИС" class="p-article__image" src="https://cdn.investments101.ru/uploads/articles/25/large_image.jpg?ts=1593689972" title=""></div>
  </header>
  <div class="p-article__grid">
  <div class="p-article__grid-cell p-article__grid-cell_1">
  <div class="p-article__main">
    <div class="content p-article__content">
      <p>За первый квартал 2020 года количество индивидуальных инвестиционных счетов на Московской бирже увеличилось на 407 тысяч и перевалило отметку в 2 миллиона. Если вы все еще размышляете, не открыть ли ИИС, эта статья для вас: в ней мы расскажем, как устроен счет, сколько можно заработать на нем и что можно купить на ИИС в 2020 году.&nbsp;</p>
      <h2>Структура:&nbsp;</h2>
      <ol>
        <li>Что такое ИИС.</li>
        <li>Типы вычетов по ИИС.</li>
        <li>Ограничения по ИИС.</li>
        <li>Кому подходит ИИС.&nbsp;</li>
        <li>Как получить налоговый вычет.&nbsp;&nbsp;</li>
        <li>Стратегии на ИИС.</li>
      </ol>
      <h2>Что такое ИИС</h2>
      <p>Индивидуальный инвестиционный счет — это брокерский счет, по которому можно получить налоговые вычеты от государства. Существует 2 типа вычетов. Первый позволяет вернуть НДФЛ в размере 13% от внесенной на ИИС суммы. Максимум можно вернуть 52000 рублей в год. Второй вычет позволяет не платить НДФЛ с дохода, полученного на ИИС.&nbsp;</p>
      <p>Индивидуальный инвестиционный счет появился в России в 2015 году. Сейчас его можно открыть практически у любого брокера, при этом некоторые предлагают ИИС с доверительным управлением. В этом случае операции по счету совершает управляющая компания, а льготы остаются те же.&nbsp;</p>
      <h2>Ограничения по ИИС&nbsp;</h2>
      <p>Индивидуальный инвестиционный счет обладает не только преимуществами перед брокерским счетом, но и некоторыми ограничениями.&nbsp;</p>
      <p>Минимальный срок, на который нужно открыть ИИС, чтобы воспользоваться налоговыми льготами, — 3 года. Если закрыть счет или вывести деньги раньше, все налоговым вычеты придется вернуть. Максимальный срок действия ИИС не ограничен, поэтому льготы от государства можно получать и дольше, чем 3 года.&nbsp;</p>
      <p>Максимальная сумма взноса по ИИС — 1 миллион рублей в год. С доходов по операциям в пределах этой суммы вы можете не платить налог на доход. Это вычет второго типа. Если вы планируете получать вычет первого типа, то максимальная сумма — 400 тысяч рублей. По ней можно сделать максимальный возврат НДФЛ в размере 52000 рублей.&nbsp;</p>
      <p>Совершать сделки по ИИС можно с любыми инструментами, но делать это можно только на российских биржах: Московской и Санкт-Петербургской.&nbsp;</p>
      <p>В отличие от брокерского счета, ИИС может быть только один, но его можно перевести от одного брокера к другому, если возникнет такая необходимость.&nbsp;</p>
      <p>По индивидуальному инвестиционному счету можно выбрать только один тип налогового вычета. Если вы решите поменять его, ИИС придется закрыть. Зато определяться с выбором вычета можно не сразу. Например, если вы откроете ИИС в 2020 году, то получить вычеты на взнос сможете по прошествии трех лет за все годы.&nbsp;</p>
      <h2>Кому подходит ИИС</h2>
      <p>Вычет первого типа подходит инвесторам, которые получают доход, облагаемый по ставке 13%. Это может быть зарплата, выручка от продажи недвижимости, прибыль от торговли на финансовых рынках, кроме дивидендов. При этом важно учитывать, что если за год вы заплатили НДФЛ в размере 40000 рублей, то и получить по ИИС сможете не больше этой суммы.&nbsp;</p>
      <p>ИИС с вычетом первого типа на взнос подходит начинающим инвесторам, которые пока плохо разбираются в фондовом рынке. Гарантированный возврат части вложенных средств — своего рода инвестиционная «подушка безопасности». Кроме этого, новичкам лучше инвестировать в надежные инструменты с низким риском, например, государственные облигации или корпоративные облигации компаний первого эшелона.&nbsp;</p>
      <p>Консервативные инвесторы, не готовые к риску, тоже могут выбирать стратегию «ИИС с вычетом на взнос+надежные облигации».&nbsp;</p>
      <p>Важно понимать, что ИИС не лишает инвесторов возможности получать доход в течение трех лет. Купонный доход по облигациям или дивиденды по акциям можно выводить на банковский или брокерский счет. Это не является основанием для закрытия ИИС. Чтобы выводить доход по ценным бумагам на отдельный счет, отправьте поручение своему брокеру с указанием номера этого счета. &nbsp;</p>
      <p>Вычет второго типа, освобождающий инвестора от уплаты налога на доход, кроме купонов по облигациям и дивидендов по акциям, подходит нескольким типам инвесторов:&nbsp;</p>
      <ul>
        <li>тем, кто не имеет постоянного декларируемого дохода;</li>
        <li>тем, кто планирует активно торговать;</li>
        <li>тем, кто готов вкладывать более 400 тысяч рублей в год;</li>
        <li>опытным инвесторам, которые не торопятся выводить деньги с рынка.&nbsp;</li>
      </ul>
      <p>Необязательно открывать индивидуальный инвестиционный счет и сразу же пополнять его. Вы можете открыть счет заранее, а внести деньги на него позже. При этом 3 года начнут отсчитывать сразу же, как только счет будет открыт. Получается, что по факту реальный период инвестирования через ИИС может быть меньше 3 лет.&nbsp;</p>
      <h2>Как получить налоговый вычет по ИИС&nbsp;</h2>
      <p>Чтобы получить налоговый вычет первого типа, нужно подать необходимые документы в налоговую инспекцию по месту жительства. Это можно сделать онлайн на сайте ФНС России, по почте или лично.&nbsp;</p>
      <p>Вот какие документы понадобятся:&nbsp;</p>
      <ul>
        <li>копия договора на брокерское обслуживание;</li>
        <li>платежный документ, подтверждающий, что вы внесли деньги на ИИС, например, платежное поручение или приходно-кассовый ордер;</li>
        <li>справка 2-НДФЛ от работодателя;</li>
        <li>заявление на возврат налога с указанием банковских реквизитов;</li>
        <li>налоговая декларация 3-НДФЛ.</li>
      </ul>
      <p>По закону проверять пакет документов могут 3 месяца. Еще 1 месяц дается на перечисление налогового вычета.&nbsp;</p>
      <p>Получить налоговый вычет этого типа можно при закрытии ИИС непосредственно у брокера или через налоговую. Вот что для этого нужно сделать:</p>
      <ol>
        <li>Получить справку в налоговой о том, что вы не получали вычет первого типа на взнос. Для этого просто подайте заявление в налоговую в свободной форме. Затем справку нужно предоставить своему брокеру, который не будет удерживать НДФЛ и выплатит весь доход с операций на фондовом рынке.&nbsp;</li>
        <li>Если вы хотите получить вычет через налоговую, предоставьте туда отчеты брокеры об операциях на ИИС, а также заполните декларацию 3-НДФЛ.&nbsp;</li>
      </ol>
      <h2>Какие стратегии используют инвесторы на ИИС</h2>
      <p>Все стратегии можно разделить на активные и пассивные.&nbsp;</p>
      <p>Пассивные стратегии считаются самыми простыми, потому что не требуют специальных знаний, особых навыков и большого количества времени. Достаточно каждый год вносить на ИИС до 400 тысяч рублей и получать максимальный налоговый вычет на взнос. При этом вносить сумму можно в декабре текущего года, а получать вычет — в первой половине следующего.&nbsp;</p>
      <p>Активные стратегии подразумевают, что деньги не будут просто лежать и приносить налоговый вычет. Консервативные инвесторы могут купить на них облигации федерального займа — самый надежный инструмент фондового рынка. Цена одной облигации обычно колеблется в районе 1000 рублей, а доходность в первой половине 2020 года составляла 5,15—6,70% годовых в зависимости от срока погашения.&nbsp;</p>
      <p>Если вы готовы к повышенному риску, можно купить корпоративные облигации надежных российских компаний. Например, Сбербанка, Роснефти, Татнефти, МТС и так далее. Доходность по таким облигациям в 2020 году находится в диапазоне от 4,5 до 12,27% в зависимости от срока погашения.&nbsp;</p>
      <p>Более опытные инвесторы покупают на ИИС дивидендные акции надежных российских и американских компаний. Помимо дохода, который можно получить на разнице между ценой покупки и продажи, такие акции приносят регулярный дивидендный доход. Если добавить к этому налоговый вычет на взнос, получится отличная инвестиционная стратегия.&nbsp;</p>
      <hr>
      <p>ИИС — хороший выбор для начала инвестиционного пути. Он позволяет повысить доходность портфеля, не прибегая к высокому риску. Опытные инвесторы могут воспользоваться другим преимуществом ИИС: не платить налог на доход.</p>
    </div>


    <div class="rating-component">
      <span>Насколько трудна данная статья для понимания?</span>
      <mat-radio-group class="radio" [(ngModel)]="score" (ngModelChange)="articleRate()">
        <mat-radio-button *ngFor="let difficulty of difficulties; let i = index" [value]="i">
          {{difficulty}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

  </div>
</div>
</div>
</article>
</div>
