.articles {

  &__header {
    display: flex;
    margin: 15px auto 10px;
    border-radius: 8px 8px 0 0;
    padding: 27px 30px;
    width: calc(100% - 30px);
    max-width: 1266px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #fff;

    &-cell {
      min-width: 0;

      &:first-child {
        flex: 1 1 auto;
      }

      &:last-child {

      }

      &_title {
        overflow: hidden;
        text-overflow: ellipsis;
        color: #5901e2;
        font-weight: 500;
        font-size: 26px;
        line-height: 1.25;
      }
    }
  }

  &__main {
    margin: 0 auto;
    width: calc(100% - 30px);
    max-width: 1266px;
    display: flex;
    flex-wrap: wrap;

    app-article-item {
      cursor: pointer;
      margin-bottom: 16px;
      &:nth-child(odd) {
        margin-right: 16px;
      }
    }
  }
}
