<header class="header">
  <div class="header__progress-bars">
    <div class="header__progress">
      <div class="progress">
        <div class="progress__circle">
          <div class="progress__wrap">
            <span class="progress__wrap_number">0</span>
            <span class="progress__wrap_percent">%</span>
          </div>
        </div>
        <span class="progress__text">Курсов пройдено</span>
      </div>
    </div>
    <div class="header__progress">
      <div class="progress">
        <div class="progress__circle">
          <div class="progress__wrap">
            <span class="progress__wrap_number">0</span>
            <span class="progress__wrap_percent">%</span>
          </div>
        </div>
        <span class="progress__text">Тестов верно</span>
      </div>
    </div>
    <div class="header__button">
      <a class="header__button-container">
        <span class="wrap">
          <span class="wrap__text">
            Подобрать курс
          </span>
        </span>
      </a>
    </div>
  </div>
  <div class="notice-box">
    <div class="notice-box__widget">
      <a class="notice-box__widget_item" href="">

      </a>
    </div>
  </div>
  <div class="header-right">
    <a class="header-right__balance">100,00 §</a>
  </div>
</header>
