<article class="article">
  <div class="article__img">
    <img [src]="article.imgSrc" class="article__img_image" alt="">
  </div>

  <div class="article__body">
    <header class="article__body-header">
      <span class="article__body-header_content">{{article.rubric}}</span>
    </header>
    <div class="article__body-main">

      <div class="article__body-main-title">
        <a class="article__body-main-title_link">{{article.topic}}</a>
      </div>

      <div class="article__body-main-description">
        <p>{{article.description}}</p>
      </div>
    </div>
    <footer class="article__body-footer">
      <time class="article__body-footer_time">{{article.dateOfPublication}}</time>
    </footer>
  </div>
</article>
